
html,body{
    height:100%;
    color:olive;
    font-family: "Space Grotesk", sans-serif;
  }

  aside#left{
    float:left; 
    width:15%; 
    height:70%;
  }

  aside#right p, h3{
    text-align: center;
    letter-spacing: 3px;
    color:black;
  }

  section{
    float:left;
    width:60%;
    height:70%;
  }
  aside#right{
    float:right;
    width:22%;
    height:70%;
  }
  footer{
    clear:both;
  }
  a{
    color:olive;
    text-decoration: none;
  }

  ul.main{
    list-style: none;
    text-align: center;
    border-top: 1px solid olive;
    border-bottom: 1px solid olive;
    padding: 10px 0;
  }

  ul.main li {
    display:inline;
    text-transform:  uppercase;
    padding:0 10px;
    letter-spacing:  3px;
  }

  ul.sidemenu{
    list-style: none;
    
  }

  ul.sidemenu li {
    text-transform:  uppercase;
    letter-spacing:  3px;
    padding:5px;
  }

  ul.sidemenu li a:hover{
    background-color: olive;
    padding:10px;
    color:white;
   
  }

  footer ul{
    list-style: none;
    text-align: center;
 
    padding: 10px 0;
  }

  footer ul li{
    display: inline;
    text-transform:  uppercase;
    letter-spacing:  3px;
    padding:5px;
  }